
/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

#nav-bar {

    width: 100%;
    height: 8vh;
    padding: 0 2%;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#nav-bar #logo {
    height: 70%;
}

#nav-bar #nav-links {
    width: 30%;
    padding-right: 4%;
}

#nav-bar #nav-links ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#image-panel {
    color: white;
}

#image-panel img { 
    width: 100%;
    z-index: -1;
}

#image-panel h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 500%;
}

#image-panel h3 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 150%;
    width: 40%;
    text-align: center;
    font-weight: 200;
}

#middle-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#middle-section h2 {
    border-bottom: 4px solid #00B172;
    width: 20%;
    font-size: 230%;
    text-align: center;
    margin-top: 3%;
}

#info-block-panel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5% 0;
}

#info-block-panel div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#info-block-panel img {
    width: 20%;
}

#info-block-panel h3 {
    color: #00B172;
    font-size: 160%;
}

#info-block-panel p {
    font-size: .9em;
    width: 40%;
    text-align: center;
    margin: 0;
}

#green-panel {
    background-color: #00B172;
    margin: 0 1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10%;
}

#white-logo {
    position: relative;
    top: 50%;
    left: 0;
    width: 8%;
    padding: 10%;
}

#text-block {
    color: white;
}

#text-block h3 {
    font-size: 300%;
    border-bottom: 4px solid white;
    width: 170%;
}

#text-block h4 {
    font-size: 200%;
}

#text-block p {
    width: 80%;
    padding: 5% 0;
}

#text-block div {
    padding: 10% 0;
}

